@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap');

:root {
    --blackColor: #101010;
    --whiteColor: #ffffff;
    --grayColor: #929292;
    --blackHover: #3a3a3a;
    --grayBorder: #ccc;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Chakra Petch", sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 35%, rgba(224,224,224,1) 100%);
    background-size: cover;
}

/* Main Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar Session */
.navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    margin: 0 auto;
}

.nav-title {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    gap: 12px;
}

.nav-title img {
    fill: var(--blackColor);
}

.nav-title span {
    letter-spacing: 0.5px;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu ul li a {
    position: relative;
    font-weight: 600;
    padding: 4px 8px;
    letter-spacing: 0.3px;
    color: var(--grayColor);
    transition: .2s ease-in-out;
}

.nav-menu ul li a.active {
    color: var(--blackColor);
}

.nav-menu ul li a:hover {
    color: var(--blackColor);
}

.navbar ul li a::before {
    content: "";
    position: absolute;
    left: 1px;
    bottom: -4px;
    height: 2px;
    width: 0;
    background: var(--blackColor);
    border-radius: 50px;
    transition: width .2s ease;
}

.navbar ul li a:hover::before {
    width: 100%;
}

/* Burger */
.burger div {
    width: 24px;
    height: 2px;
    background-color: var(--blackColor);
    margin: 6px;
    transition: all 0.3s;
    z-index: 999;
}

.burger {
    display: none;
    z-index: 999;
    position: fixed;
    right: 30px;
}

/* Hero */
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;
}

.hero-content h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--grayColor);
    font-style: italic;
    margin-bottom: 8px;
}

.hero-content h1 {
    font-size: 32px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

.hero-content p {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 180%;
    margin-bottom: 24px;
    color: var(--grayColor);
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button */
.fill-btn {
    margin-right: 12px;
    padding: 12px 20px;
    font-family: "Chakra Petch";
    background-color: var(--blackColor);
    border: 1px solid var(--blackColor);
    color: var(--whiteColor);
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.fill-btn:hover {
    background-color: var(--blackHover);
    border: 1px solid var(--blackHover);
}

.outline-btn {
    padding: 12px 20px;
    font-family: "Chakra Petch";
    background: none;
    border: 1px solid var(--grayColor);
    color: var(--grayColor);
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.outline-btn:hover {
    border: 1px solid var(--blackColor);
    color: var(--blackColor);
}

/* Portfolio */
.main-portfolio {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.portfolio-title {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}

.portfolio-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -65px;
    height: 2px;
    width: 50px;
    background-color: var(--blackColor);
}

.portfolio-title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 136px;
    height: 2px;
    width: 50px;
    background-color: var(--blackColor);
}

.portfolio-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.portfolio-card {
    position: relative;
    width: 280px;
    height: 100%;
    margin-bottom: 40px;
    border: 1px solid var(--grayBorder);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s;
}

.portfolio-card:hover {
    transform: scale(1.05);
}

.portfolio-card img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--grayBorder);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.portfolio-card:hover .card-overlay {
    opacity: 1;
}

.card-content {
    text-align: center;
    padding: 16px;
}

.card-content h3 {
    margin-bottom: 8px;
}

.card-content a {
    font-weight: 500;
    color: #0000FF;
    transition: .2s ease-in-out;
}

.card-content a:hover {
    color: var(--blackColor);
    text-decoration: underline;
}

.card-content .fa-image {
    margin-left: 8px;
    margin-top: 40px;
}

/* Icon */
.fa-arrow-right {
    margin-left: 8px;
}

/* Footer section */
footer {
    padding: 64px 0;
    background: var(--whiteColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 16px;
}

.footer-icons a {
    margin: 0 8px;
}

.footer-icons a svg {
    fill: var(--blackColor);
    transition: .2s ease-in-out;
}

.footer-icons a svg:hover {
    fill: var(--blackHover);
}